<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Judith Butler</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Resumo</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Carreira</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Obras</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Recepção</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Prêmios</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Judith
                        <span class="text-primary">Butler</span>
                    </h1>
                    <div class="subheading mb-5">
                        Cleveland · Ohio, CO 80810 · (317) 585-8468 ·
                        <a href="mailto:name@email.com">name@email.com</a>
                    </div>
                    <p class="lead mb-5">Judith Butler é uma filósofa pós-estruturalista estadunidense, uma das principais teóricas contemporâneas do feminismo e teoria queer. Ela também escreve sobre filosofia política e ética. Atualmente, ocupa o cargo de professora do departamento de retórica e literatura comparada da Universidade da Califórnia em Berkeley. Desde 2006, Butler também ocupa o posto honorificamente intitulado "Hannah Arendt" na European Graduate School.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Principais Obras</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Problemas de gênero:</h3>
                            <div class="subheading mb-3">feminismo e subversão da identidade</div>
                            <p>O livro "Problemas de gênero: feminismo e subversão de identidade" foi publicado pela primeira vez em 1990 e vendeu mais de 100.000 cópias internacionalmente. O título do livro faz alusão ao filme Problemas Femininos (1974) de John Waters, estrelado pela drag queen Divine. O livro discute as obras de Sigmund Freud, Simone de Beauvoir, Julia Kristeva, Jacques Lacan, Luce Irigaray, Monique Wittig, Jacques Derrida e Michel Foucault.

                            O ponto crucial levantado por Butler é que a coerência das categorias de sexo, gênero e sexualidade (por exemplo: a aparência de coerência natural do gênero masculino e do desejo heterossexual em corpos masculinos) é culturalmente construída através da repetição de atos "estilizados". Apesar de atos corporais estilizados reiterados criarem a aparência de um gênero ontológico "central" (ou essencial), Butler entende o gênero, junto com o sexo e a sexualidade, como performativo. Butler contesta explicitamente os entendimentos biológicos sobre binarismo sexual. A performance de gênero não é voluntária, na opinião de Butler, e ela acredita que o sujeito de um certo gênero, sexo e atração deve ser construído dentro do que ela chama, tomando emprestado o termo de Vigiar e Punir de Foucault, "discursos reguladores". Estes, também chamados de "estruturas de inteligibilidade" ou "regimes disciplinares", determinam previamente quais possibilidades de sexo, gênero e sexualidade são socialmente permitidas para parecerem coerentes ou "naturais". O discurso regulador inclui técnicas disciplinares que coagem as ações estilizadas e, assim, manter a aparência de gênero, sexo e sexualidade "essenciais".</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">1990</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Os atos performativos e a constituição do gênero:</h3>
                            <div class="subheading mb-3">um ensaio sobre fenomenologia e teoria feminista</div>
                            <p>No ensaio "Os atos performativos e a constituição do gênero", Judith Butler propõe que gênero é performativo. Com base na fenomenologia de Maurice Merleau-Ponty e no feminismo de Simone de Beauvoir, ela observa que ambos fundamentam suas teorias na "experiência vivida" e veem o corpo sexual como uma ideia ou situação histórica. Butler distingue sexo (uma "facticidade biológica") e gênero (a "interpretação ou significação cultural dequela facticidade)".

                                Butler argumenta que o conceito de gênero é melhor entendido como performativo, o que presume a existência de uma plateia social. Também defende que as performances femininas são forçadas e reforçadas por práticas sociais históricas.
                                
                                Para Butler, o "script" da performance de gênero é transmitido sem esforço de geração em geração na forma de "significados" socialmente estabelecidos: Butler afirma que o "gênero não é uma escolha radical ... [nem é] imposto ou inscrito no indivíduo". Dada a natureza social do ser humano, a maioria das ações é testemunhada, reproduzida e internalizada e, assim, assume uma qualidade performativa ou teatral. De acordo com a teoria de Butler, gênero é essencialmente uma repetição performativa de atos associados ao homem ou à mulher. Atualmente, as ações apropriadas para homens e mulheres têm sido transmitidas para produzir uma determinada atmosfera social que mantém e legitima um binário de gênero aparentemente natural. Butler aceita o conceito de corpo como uma ideia histórica, e sugere que o conceito de gênero deve ser visto como natural ou inato porque o corpo "torna-se seu gênero através de uma série de atos que são renovados, revisados ​​e consolidados ao longo do tempo".
                                
                                Butler argumenta que a própria performance do gênero cria o gênero. Além disso, ela compara a performatividade de gênero à performance teatral, notando várias semelhanças entre ambas, incluindo a ideia de cada indivíduo funcionando como um ator de seu gênero. No entanto, Butler também traz à luz uma diferença crítica entre a performance de gênero na realidade e as performances teatrais. Ela explica que o teatro é muito menos ameaçador e não produz o mesmo medo que as performances de gênero muitas vezes produzem, devido ao fato de que há uma distinção clara entre realidade e irrealidade dentro do teatro.
                                
                                Butler usa a noção proposta por Sigmund Freud sobre como a identidade de uma pessoa é modelada em termos do que é considerado normal. Butler modifica a aplicabilidade deste conceito, originalmente restrito ao lesbianismo (Freud afirmava que as lésbicas modelam seus comportamentos com base nos comportamentos de homens, que são o "normal" ou "ideal" percebido). Butler, em vez disso, diz que todo gênero funciona daquela forma de performatividade e representação de uma noção internalizada de normas de gênero.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">1988</span></div>
                
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Carreira</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">

                            <div>Butler obteve seu Ph.D. em filosofia na Yale University em 1984, e sua dissertação foi publicada como Subjects of Desire: Hegelian Reflections in Twentieth-Century France. Em fins da década de 1980, entre diversas designações de ensino e pesquisa (tais como no Centro de Humanidades na Johns Hopkins University), ela envolveu-se nos esforços de crítica ao estruturalismo presente na teoria feminista ocidental (Claude Lévi-Strauss), questionando os "termos pressuposicionais" do feminismo vigentes.

                            Judith Butler assume também genealogicamente os preceitos de autores/as que trabalham com o giro linguístico, tanto da escola inglesa (Austin, Searle) quanto da francesa (Derrida, Deleuze), e adota algumas posturas da fenomenologia existencialista de Sartre e Merleau-Ponty. Butler aponta a falsa estabilidade da categoria mulher e propõe buscar um modo de interrogação da constituição do sujeito que não requeira uma identificação normativa com o 'sexo' binário.
                                    
                            Seus trabalhos mais recentes focam a filosofia judaica, centrando-se em particular nas "críticas pré-sionistas da violência estatal."</div>
                          
                        </div>
              
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Todas as obras</h2>

                    </ul>
                        <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            1987: Subjects of desire: Hegelian reflections in twentieth-century France. Nova Iorque: Columbia University Press, 1999;
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            1988: Os atos performativos e a constituição do gênero: um ensaio sobre fenomenologia e teoria feminista

                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            1990: Gender trouble: Feminism and the subversion of identity. Nova Iorque: Routledge, 2006. [ed. brasileira: Problemas de gênero: Feminismo e subersão da identidade. Tradução de Renato Aguiar. Rio de Janeiro: Civilização Brasileira, 2003];

                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            1993: Bodies that matter: On the discursive limits of "sex". Nova Iorque: Routledge, 1993. [ed. brasileira: Corpos que importam: Os limites discursivos do "sexo". Tradução de Verônica Daminelli e Daniel Yago Françoli. São Paulo: N-1 Edições e Crocodilo, 2019];

                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            1995: Feminist contentions: a philosophical exchange. Com Benhabib, Seyla; Fraser, Nancy; Cornell, Drucilla. Nova Iorque: Routledge, 1995. [ed. brasileira: Debates feministas: Um intercâmbio filosófico. Tradução de Fernanda Veríssimo. São Paulo: Editora Unesp, 2018];

                        </li>
                        

                     
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Recepção</h2>
                    <p>O trabalho de Butler tem influenciado as teorias feminista e queer, os estudos culturais e a filosofia continental.[5] No entanto, sua contribuição para uma série de outras disciplinas - como psicanálise, literatura, cinema e estudos da performance, bem como artes visuais - também foi significativa.[6] Sua teoria da performatividade de gênero, bem como sua concepção do "criticamente queer", não apenas transformaram os entendimentos de gênero e identidade queer no mundo acadêmico, mas também moldaram e mobilizaram vários tipos de ativismo político, particularmente o ativismo queer em todo o mundo.[5][7][8][9] O trabalho de Butler também entrou em debates contemporâneos sobre o ensino de gênero, homoparentalidade e despatologização de pessoas transgênero.[10] Antes da eleição para o papado, o Papa Bento XVI escreveu várias páginas desafiando os argumentos de Butler sobre o gênero.[11] Em vários países, Butler tornou-se o símbolo da destruição de papéis tradicionais de gênero para movimentos reacionários. Este foi particularmente o caso na França durante os protestos contra o casamento entre pessoas do mesmo sexo. Bruno Perreau, professor do Instituto de Tecnologia de Massachusetts, mostrou que Butler foi literalmente retratada como um "anticristo", tanto por causa de seu gênero e sua identidade judaica, como pelo medo de políticas minoritárias e estudos críticos sendo expressos através de fantasias de um corpo corrompido.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Prêmios e distinções selecionados</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1999: Guggenheim Fellowship;
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2004: Brudner Prize, em Yale;
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2007: Eleita membro da American Philosophical Society;
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2012: Theodor W. Adorno Award;
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2013: Doutoramento honoris causa, McGill University;
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2013: Doutoramento honoris causa, University of St. Andrews;
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2014: Doutoramento honoris causa, University of Fribourg;
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2018: Doutoramento honoris causa, University of Belgrade;
                        </li><li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2018: Doutoramento honoris causa, Universidad de Guadalajara.
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
